.single-product-price {
	font-size: 30px;
	font-family: helveticaB;
	color: #000;
	margin: 20px 0;
}
.single-product-price span{
	font-size: 30px;
	font-family: helveticaB;
	color: #b3b3b3;
	text-decoration: line-through;
	margin-left: 20px;
}
.product-item-desc.single-product {
	text-align: left;
	padding-top: 40px;	
	padding-bottom: 40px;	
}
.single-product {
    border-left: 1px solid #d8d8d8;
}
.product-item-desc .condition {
    font-family: helveticaB;
    margin-bottom: 20px;
}
.list-focus p {
	color: #fff;
}
.list-focus {
	background-color: #000;
}
.map-list .boxes-wrap-small:hover {
	background-color: #f2f2f2;
	cursor: pointer;
}
.map-list .boxes-wrap-small:nth-child(3) {
    border-right: medium none;
}
.map-list .boxes-wrap-small {
    border-bottom: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
}
.list-focus .numbers {
    background: #000 none repeat scroll 0 0;
    border-radius: 50%;
	border: 2px solid #fff;
    color: #fff;
    display: inline-block;
    font-family: helveticaB;
    font-size: 30px;
    height: 60px;
    line-height: 60px;
    width: 60px;
}
.numbers {
    background: #d8d8d8 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-family: helveticaB;
    font-size: 30px;
    height: 60px;
    line-height: 60px;
    width: 60px;
}
.map-search {
    position: relative;
}
.map-search .white-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
}
.map-search .custom-input {
    background: transparent none repeat scroll 0 0;
    text-align: left;
}

.masking {
	opacity: 0.3;
	pointer-events: none;
}
#overlay {
    background: rgba(0, 0, 0, 0) linear-gradient(transparent, transparent, #000, #000, #000, #000, #000, #000, #000) repeat scroll 0 0;
    bottom: 0;
    height: 150%;
    position: fixed;
    width: 100%;
    z-index: 10000;
}
#loadingbar {
    background: #ee1e24 none repeat scroll 0 0;
    border-radius: 1px;
    height: 5px;
    left: 0;
    position: fixed;
    top: 0;
    transition: all 500ms ease-in-out 0s;
    width: 0;
    z-index: 2147483647;
}


.bold {font-family: helveticaB;}
.linkk {text-decoration: none; transition: all 0.25s ease-in-out;}
.linkk:hover {text-decoration: underline;}

.white-bg {background: #fff !important;}
.red-bg {background: #ee1e24 !important;}
.black-bg {background: #000 !important;}
.gray-bg {background: #C4C4C4 !important;}

.gray {color: #b3b3b3 !important;}
.black {color: #000 !important;}
.white {color: #fff !important;}
.red {color: #ee1e24 !important;}
.font20{font-size: 20px;}

.flexx {
	display: flex;
	align-items: center;
	justify-content: center;
}
.flexxV {
	display: flex;
	align-items: top;
	justify-content: center;
}
p {
	font-size: 15px;
	line-height: 25px;
}
.mrgA0 { margin: 0 !important; }
.padA0 { padding: 0 !important; }
.nav-other {
    line-height: 100px;
    position: absolute;
    right: 0;
    top: 0;
}
a.login-button {
    border-left: 1px solid #262626;
    display: block;
    float: right;
    font-family: helveticaB;
    letter-spacing: 2px;
    padding: 0 30px;
	transition: all 0.25s ease-in-out;
	color: #EE1E24;
}
a.cart-button {
    border-left: 1px solid #262626;
    color: #fff;
    display: block;
    float: right;
    font-family: helveticaB;
    letter-spacing: 2px;
    padding: 30px 30px 0;
	transition: all 0.25s ease-in-out;
    line-height: 70px;
    position: relative;
}
a.cart-button > span {
    border: 2px solid #262626;
    border-radius: 50%;
    color: #ee1e24;
    display: inline-block;
    height: 34px;
    left: 50%;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 10px;
	transition: all 0s ease-in-out;
    transform: translateX(-50%);
    width: 34px;
}
a.login-button.active, a.cart-button.active, a.login-button:hover, a.cart-button:hover {
    color: #000;
	background: #fff;
}
a.cart-button.active span, a.cart-button:hover span{
	border-color: #e2e2e2;
}
.login-wrap, .cart-wrap {
    float: right;
    position: relative;
}
.login-menu, .cart-menu {
	transform-origin: 0 0;
    background: #fff none repeat scroll 0 0;
    height: auto;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 100px;
    transform: scaleY(0);
    transition: all 0.25s ease-in-out 0s;
    visibility: hidden;
    width: 380px;
}
.login-menu.show-menu, .cart-menu.show-cart {
	opacity: 1;
	visibility: visible;
	transform: scaleY(1);
}
.login-section {
	padding: 25px 40px;
	color: #333;
	background: #fff;
}
.reg-section {
	padding: 25px 60px;
	color: #333;
	background: #fff;
}
.login-section.red {
	padding: 25px 40px;
	color: #fff;
	background: #ee1e24;
}
.login-section.borderTop, .reg-section.borderTop {
	border-top: 1px solid #e2e2e2;
}

#log-overlay {
    background: rgba(0,0,0,0.7);
	/* display: none; */
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    transition: all 0.25s ease-in-out 0s;
    width: 100%;
    z-index: 110;
	opacity: 0;
	visibility: hidden;
}
#log-overlay.show {
	opacity: 1;
	visibility: visible;
}
.reg-menu {
	transform-origin: 0 0;
    background: #fff none repeat scroll 0 0;
    height: auto;
    opacity: 0;
    position: fixed;
    left: 50%;
    top: 120px;
    transform: scaleY(0) translateX(-50%);
    transition: all 0.25s ease-in-out 0s;
    visibility: hidden;
    width: 560px;
    z-index: 111;
}
.show-box {
    opacity: 1 !important;
    transform: scaleY(1) translateX(-50%);
    transform-origin: 0 0 0;
    visibility: visible;
}
.popup-header {
	padding: 0px 20px 0px;
	font-size: 30px;
	font-family: helveticaB;
	color: #000;
	text-align: center;
}
.custom-input:focus {
	border-color: #ee1e24;
}
.custom-input {
	transition: all 0.25s ease-in-out;
    border: 1px solid #e2e2e2;
    border-radius: 25px;
    color: #333;
    display: block;
    line-height: 50px;
    margin-bottom: 10px;
	padding: 0 15px;
    width: 100%;
	font-family: helveticaL;
	letter-spacing: 0.5px;
	text-align: center;
	font-size: 20px;
}
.round-button {
    border: 1px solid #000;
    border-radius: 25px;
	background: #fff;
    color: #333;
    display: inline-block;
	text-align: center;
    line-height: 50px;
    margin-bottom: 10px;
	padding: 0 15px;
    width: 100%;
	font-family: helveticaB;
	font-size: 15px;
	transition: all 0.25s ease-in-out;
	letter-spacing: 2px;
}
.round-button:hover {
	background: #000;
	color: #fff;
} 
.round-button.small {
	max-width: 220px;
}
.round-button.big {
	max-width: 360px;
	line-height: 60px;
	border-radius: 30px;
}
.round-button.med {
	max-width: 320px;
}
.red-button.small {
	max-width: 220px;
}
.red-button.med {
	max-width: 320px;
}
.red-button.big {
    border-radius: 30px;
    line-height: 60px;
    width: 100%;
	max-width: 400px;
}
.red-border-button.small {
	max-width: 220px;
}
.black-button.small{
	max-width: 320px;
}
.black-button.smaller{
	max-width: 220px;
}
.red-border-button {
    border: 1px solid #fff;
    border-radius: 25px;
	background: #ee1e24;
    color: #fff;
    display: inline-block;
	text-align: center;
    line-height: 50px;
    margin-bottom: 10px;
	padding: 0 15px;
    width: 100%;
	font-family: helveticaB;
	font-size: 15px;
	transition: all 0.25s ease-in-out;
	letter-spacing: 2px;
}
.red-border-button:hover {
    border: 1px solid #fff;
	background: #fff;
	color: #000;
} 
.red-border-button.to-black:hover {
    border: 1px solid #000;
	background: #000;
	color: #fff;
} 
.red-button {
    border: 1px solid #ee1e24;
    border-radius: 25px;
	background: #ee1e24;
    color: #fff;
    display: inline-block;
	text-align: center;
    line-height: 50px;
    margin-bottom: 10px;
	padding: 0 15px;
    width: 100%;
	font-family: helveticaB;
	font-size: 15px;
	transition: all 0.25s ease-in-out;
	letter-spacing: 2px;
}
.red-button:hover {
    border: 1px solid #fff;
	background: #fff;
	color: #000;
} 
.white-button.small{
	max-width: 220px;
}
.white-button.small{
	max-width: 220px;
}
.white-button.mid {
    border-radius: 35px;
    max-width: 260px;
    padding: 5px 15px;
}
.white-button {
    border: 1px solid #fff;
    border-radius: 25px;
	background: #fff;
    color: #000;
    display: inline-block;
	text-align: center;
    line-height: 50px;
    margin-bottom: 10px;
	padding: 0 15px;
    width: 100%;
	font-family: helveticaB;
	font-size: 15px;
	transition: all 0.25s ease-in-out;
	letter-spacing: 2px;
}
.white-button:hover {
    border: 1px solid #ee1e24;
	background: #ee1e24;
	color: #fff;
} 
.black-button {
    border: 1px solid #000;
    border-radius: 25px;
	background: #000;
    color: #fff;
    display: inline-block;
	text-align: center;
    line-height: 50px;
    margin-bottom: 10px;
	padding: 0 15px;
    width: 100%;
	font-family: helveticaB;
	font-size: 15px;
	transition: all 0.25s ease-in-out;
	letter-spacing: 2px;
}
.black-button:hover {
    border: 1px solid #ee1e24;
	background: #ee1e24;
	color: #fff;
} 
.round-button.white-button {
    border: 1px solid #fff;
	background: transparent;
    color: #fff;
}
.round-button.white-button:hover {
	background: #fff;
	color: #ee1e24;
} 
.forgot {
    color: #333;
    display: block;
    font-size: 13px;
    line-height: 30px;
    text-align: center;
}
.cart-item {
    border-bottom: 1px solid #e2e2e2;
    line-height: normal;
    overflow: hidden;
    padding: 20px;
    width: 100%;
	position: relative;
}
.cart-image {
    border: 1px solid #e2e2e2;
    display: inline-block;
    float: left;
    height: 70px;
    margin-right: 15px;
    padding: 0;
    width: 70px;
}
.cart-desc {
	display: inline-block;
}
.cart-price {
    color: #ef1e24;
    font-family: helveticaB;
    font-size: 15px;
}
.cart-title {
    font-size: 15px;
    padding-top: 10px;
}
.cart-delete {
    bottom: 10px;
    color: #b3b3b3;
    font-family: helveticaB;
    font-size: 13px;
    position: absolute;
    right: 10px;
}
.cart-sub-total {
	padding: 30px 40px;
	line-height: normal;
}
.cart-total-price {
    color: #ee1e24;
    font-family: helveticaB;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    text-align: center;
	letter-spacing: 1px;
}
.video-play-button {
	width: 160px;
	height: 90px;
	background: url(../images/play-icon.png) no-repeat center center #ee1e24;
	border-radius: 5px;
	display: inline-block;
	transition: all 0.25s ease-in-out;
	z-index: 111;
}
.video-play-button:hover {
	background: url(../images/play-icon.png) no-repeat center center #BB1217;
}
.home-video-item {
	position: relative;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 600px;
}
.home-video-desc {
    text-align: center;
    width: 100%;
	padding-bottom: 100px;
}
.home-video-desc h2{
    text-align: center;
	color: #fff;
	font-size: 30px;
	font-family: helveticaB;
    width: 100%;
	margin-bottom: 50px;
}
.home-about {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 600px;
	padding: 0 150px;
}
.home-about-desc {
    text-align: center;
    width: 100%;
}
.home-about-desc > h2 {
    color: #ee1e24;
    font-family: helveticaB;
	margin-bottom: 30px;
}
.home-about-desc > p {
	margin-bottom: 50px;
}
.home-about-desc > h2 span{
    color: #000;
}
.boxes-wrap {
	height: 410px;
}
.boxes-wrap-small {
	height: 320px;
}
.boxes-container {
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 11;
}
.boxes-container h2{
	font-size: 30px;
	font-family: helveticaB;
}
.home-newsletter {
	background: #c4c4c4;
}
.home-newsletter-title {
	font-size: 19px;
	color: #fff;
	font-family: helveticaB;
	letter-spacing: 2px;
}
.home-newsletter-form form {
	width: 100%;
	position: relative;
}
.home-newsletter {
	padding: 75px 0;
}
.custom-input-white {
	width: 100%;
	border: 1px solid #fff;
	height: 60px;
	border-radius: 30px;
	background: transparent;
	padding: 10px 20px;
	font-size: 18px;
	transition: all 0.25s ease-in-out;
}
.custom-input-white:focus {
	border: 1px solid #000;
}
.custom-input-white:focus + .custom-submit-white{
	border: 1px solid #000;
}
.custom-submit-white {
	background: #fff;
	color :#000;
	letter-spacing: 2px;
	font-size: 15px;
	font-family: helveticaB;
	font-weight: normal;
	text-align: center;
	height: 60px;
	position: absolute;
	right: 0;
	top: 0;
	border: none;
	border-radius: 30px;
	width: 140px;
	transition: all 0.25s ease-in-out;
}
.custom-submit-white:hover {
	background: #000;
	color: #fff;
}
footer, .footer-social {
	background: #000;
	padding: 50px 0;
}
.footer-insta {
	border: 1px solid #262626;
	text-align: center;
	padding: 30px;
}
.footer-twitter {
	border: 1px solid #262626;
	text-align: left;
	padding: 30px;
	color: #fff;
}
.twitter-post {
    font-family: helveticaL;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 29px;
}
.twitter-post p{
	font-size: 18px;
}
.footer-info {
	padding: 50px 0;
	background: #000;
	border-top: 1px solid #262626;
	border-bottom: 1px solid #262626;
}
.footer-info h2 {
    font-size: 36px;
    margin-bottom: 7px;
    margin-top: 0;
}
.footer-icons {
    margin-top: 10px;
    text-align: right;
}
.footer-icons a{
	display: inline-block;
	margin: 5px 7px;
	transition: all 0.2s ease-in-out;
}
.footer-icons a:hover{
	opacity: 0.3;
}
.footer-menu {
	list-style: none;
	padding: 0;
	margin-bottom: 40px;
	width: 100%;
}
.footer-menu li {
    display: inline-block;
    font-family: helveticaB;
    font-size: 15px;
    margin-right: 17px;
    text-transform: uppercase;
}
.footer-menu li:last-of-type {
    margin-right: 0;
}
footer a, footer {
	color: #fff;
}
.header-section {
	background: #c4c4c4;
	padding: 50px 0;
	text-align: center;
}
.sub-header-section {
	background: #fff;
	padding: 50px 0;
	text-align: center;
}
.header-title {
	font-size: 40px;
	font-family: helveticaB;
	color: #fff;
	margin: 0;
	text-transform: uppercase;
}
.reg-product-image {
    border: 1px solid #d8d8d8;
    float: left;
    height: 90px;
    margin-right: 15px;
    padding: 5px;
    text-align: center;
    width: 90px;
}
.reg-product-info {
    color: #000;
    font-size: 15px;
    padding: 20px 0;
}
.reg-product-price {
	font-size: 20px;
	color: #ee1e24;
	font-family: helveticaB;
}
.reg-product-remove {
    color: #b3b3b3;
    float: right;
    font-family: helveticaB;
    font-size: 13px;
    padding: 35px 0;
    position: absolute;
    right: 0;
    top: 0;
}
.billing-address h3, .shipping-address h3 {
	font-family: helveticaB;
}
.order-title {
	font-size: 40px;
	color: #fff;
	font-family: helveticaB;
}
.order-text {
	font-size: 15px;
	color: #fff;
	font-family: helveticaB;
}
.cart-qty {
	font-size: 20px;
	font-family: helveticaB;
	padding-bottom: 20px;
}
.old-price {
	color: #c3c3c3;
	margin-left: 15px;
}
.checkout-cart-item {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #d8d8d8;
}
.checkout-cart-item:last-of-type {
    border-bottom: medium none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.round-gray-button {
	background: #262626;
	text-align: center;
	color: #fff;
	font-family: helveticaB;
	font-size: 15px;
	height: 60px;
	border-radius: 30px;
	line-height: 60px;
	display: block;
	margin-bottom: 20px;
}
.testi-text {
	font-size: 20px;
	font-family: helveticaB;
	line-height: 35px;
	text-align: center;
	padding: 0 80px;
}
.testi-author {
	color: #ee1e24;
	font-size: 15px;
}
.testi-video-author {
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 15px;
	font-family: helveticaB;
	text-transform: uppercase;
}
.img-box {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
}
.object-fit-50 {
    bottom: 0;
    height: 410px;
    left: 0;
    object-fit: cover;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
#YouTubeModalBody iframe {
    float: left;
    margin: 0 !important;
}
.video-play {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0px);
	transition: all 0.25s ease-in-out;
}
.video-play:hover {
	opacity: 0.7;
}
.close {
    color: #fff;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
}
.close:focus, .close:hover {
    color: #fff;
    cursor: pointer;
    opacity: 0.5;
    text-decoration: none;
}
button.close {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
    height: 45px !important;
    padding: 0;
    width: auto;
	opacity: 1;
}
.modal-open {
    overflow: hidden;
}
.modal {
    bottom: 0;
    display: none;
    left: 0;
    outline: 0 none;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 11111112;
}
.modal.fade .modal-dialog {
    transform: translate(0px, -25%);
    transition: transform 0.3s ease-out 0s;
}
.modal.in .modal-dialog {
    transform: translate(0px, 0px);
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-dialog {
    margin: 10px;
    position: relative;
    width: auto;
}
.modal-content {
    background-clip: padding-box;
    background-color: transparent;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    outline: 0 none;
    position: relative;
}
.modal-backdrop {
    background-color: #000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 11111111;
}
.modal-backdrop.fade {
    opacity: 0;
}
.modal-backdrop.in {
    opacity: 0.7;
}
.modal-header {
    border-bottom: medium none;
    min-height: 40px;
    padding: 10px;
}
.modal-header .close {
    margin-top: -2px;
}
.modal-title {
    line-height: 1.42857;
    margin: 0;
}
.modal-body {
    padding: 15px;
    position: relative;
}
.modal-footer {
    border-top: 1px solid #e5e5e5;
    padding: 15px;
    text-align: right;
}
.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
    margin-left: 0;
}
.modal-scrollbar-measure {
    height: 50px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
    width: 50px;
}
@media (min-width: 768px) {
.modal-dialog {
    margin: 50px auto;
    width: 600px;
}
.modal-content {
    box-shadow: none;
}
.modal-sm {
    width: 300px;
}
}
@media (min-width: 992px) {
.modal-lg {
    width: 900px;
}
}
.articles-category {
	text-align: center;
}
.articles-category a {
	color: #000;
	font-size: 15px;
	font-family: helveticaB;
	display: inline-block;
	line-height: 30px;
	position: relative;
	margin: 0 10px;
	transition: all 0.25s ease-in-out;
}
.articles-category a.selected:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 100%;
	background: #ee1e24;
}
.articles-category a.selected {
	color: #ee1e24;
}
.articles-category a:hover {
	color: #ee1e24;
}
.lagree101-box {
	height: 100%;
}
.lagree101-title {
    bottom: 40px;
    color: #fff;
    display: block;
    font-family: helveticaB;
    font-size: 20px;
    left: 15px;
	padding-bottom: 10px;
    position: absolute;
}
.lagree101-date {
    bottom: 10px;
    color: #fff;
    display: block;
    font-size: 15px;
    left: 15px;
    position: absolute;
}
.lagree101-article .img-box img{
	transition: all 0.25s ease-in-out;
}
.lagree101-article:hover .img-box img{
	opacity: 0.2;
}
.lagree101-article:hover .lagree101-title{
	color: #ee1e24;
}
.social-contact {
	width: 100%;
	text-align: center;
}
.social-contact a {
	margin: 0 5px;
	display: inline-block;
	transition: all 0.25s ease-in-out;
}
.social-contact a:hover {
	opacity: 0.4;
}
.infobox {
    background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0;
    box-sizing: border-box;
    color: #fff;
    font-family: helveticaL;
    line-height: 20px;
    position: relative;
    text-align: center;
}
.infobox .close {
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 17px;
    height: 25px;
    line-height: 22px;
    opacity: 1;
    position: relative;
    right: 0;
    text-align: center;
    top: 0;
    width: 25px;
}
.infobox .content {
    box-sizing: border-box;
    color: #fff;
    font-family: helveticaL;
    font-size: 15px;
    line-height: 20px;
    margin: 15px;
    padding: 20px 10px 10px;
    text-align: center;
}
.infobox .content strong {
    font-family: helveticaB;
    font-size: 20px;
    font-weight: normal;
}
.infobox .content a {
    color: #08c1cd;
}
.infobox::after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(0, 0, 0, 0.75);
    bottom: -10px;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    width: 0;
}
.faq {
	padding-top: 60px;
}
.faq-anchor {
	width: 100%;
	display: block;
}
.faq-anchor a {
	display: inline-block;
	font-size: 20px;
	font-family: helveticaB;
	color: #000;
	line-height: 35px;
	letter-spacing: 2px;
}
.faq-anchor a:hover {
	color: #ee1e24;
}
.faq-answers h3:first-of-type {
	margin-top: 0;
}
.faq-answers h3 {
	display: inline-block;
	font-size: 20px;
	font-family: helveticaB;
	color: #EE1E24;
	line-height: 25px;
	letter-spacing: 2px;
}
.terms-text h3 {
	display: inline-block;
	font-size: 20px;
	font-family: helveticaB;
	color: #EE1E24;
	line-height: 25px;
	letter-spacing: 1;
	text-transform: uppercase;
}
.terms-text, .terms-text p{
	font-size: 15px;
	line-height: 25px;
	color: #000;
	margin-bottom: 20px;
}
.sitemap-links {
	text-align: center;
	display: block;
}
.sitemap-links a:before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #999;
}
.sitemap-links a:hover:before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #ee1e24;
}
.sitemap-links a{
	display: inline-block;
	text-align: center;
	color: #000;
	position: relative;
	margin: 9px 0;
	padding: 1px 0;
	font-size: 16px;
}
.sitemap-links a:hover{
	display: inline-block;
	text-align: center;
	color: #ee1e24;
	font-family: helveticaB;
}
.section404 {
	padding: 200px 0;
}
.title-404 {
    color: red;
    font-family: helveticaB;
    font-size: 50px;
    letter-spacing: 2px;
}
.lagre101-header {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 700px;
    text-align: center;
    width: 100%;
	position: relative;
}
.dark-mask {
    background: rgba(0, 0, 0, 0.48) none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}
.lagree101-text h3 {
	display: inline-block;
	font-size: 30px;
	font-family: helveticaB;
	color: #EE1E24;
	line-height: 35px;
	letter-spacing: 1;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.lagree101-text {
	padding-bottom: 20px;
}
.lagree101-text iframe {
	margin: 30px 0;
}
.article-share {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
	font-family: helveticaB;
}
.sidebar {
	background: #000;
	padding-top: 50px;
	padding-left: 50px;
}
.sidebar-title {
	font-size: 30px;
	color: #fff;
	font-family: helveticaB;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.sidebar-ohter {
    display: block;
    float: left;
    margin-bottom: 40px;
    width: 100%;
}
.sidebar-ohter > a {
    clear: both;
    display: inline-block;
    float: left;
    font-family: helveticaB;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: normal;
    padding: 10px 0;
}
.sidebar-ohter > a.current {
	color: #ee1e24;
}
.sidebar-patents {
    display: block;
    float: left;
    width: 100%;
	font-size: 13px;
}
.patents-title {
    color: #ee1e24;
    font-weight: bold;
}
.patents-desc {
    color: #e8e8e8;
    line-height: 25px;
    margin-bottom: 20px;
}

.science-text {
	max-width: 1000px;
	padding: 0 15px;
	margin: 0 auto 60px;
}
.media-heading {
	color: #ee1e24;
	font-size: 20px;
	font-family: helveticaB;
}
.media-left, .media > .pull-left {
    padding-right: 30px;
}
.media-body p {
	margin: 0;
}
.science-text > h1 {
    color: #ee1e24;
    font-family: helveticaB;
    font-size: 30px;
    line-height: 50px;
}
.science-text > h3 {
    color: #000;
    font-family: helveticaB;
    font-size: 20px;
    line-height: 30px;
}
.product-item {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 600px;
	padding: 0;
}
.product-item-desc {
	padding: 0 150px;
	text-align: center;
}
.product-item-desc > h2 {
    color: #ee1e24;
    font-family: helveticaB;
	margin-bottom: 30px;
}
.product-item-desc > p {
	margin-bottom: 50px;
}
.used-slide {
	padding: 0 40px;
	letter-spacing: 1px;
}
.used-product-price {
	font-size: 20px;
	font-family: helveticaB;
	color: #000;
	margin: 20px 0;
}
.used-product-price span{
	font-size: 20px;
	font-family: helveticaB;
	color: #b3b3b3;
	text-decoration: line-through;
	margin-left: 20px;
}
.other-videos {
    float: right;
    height: 580px;
    width: 20%;
}
